<h1 align="center"> Homework 5 Programming Task</h1>
<h3 align="center"> IST 5520: Data Methodologies in Python, 2018 Spring </h3>
<h3 align="center"> Student: XXX </h3>

**Instruction:**

Complete the following tasks (2 points for each task, 10 points in total). You can add additional lines if necessary.

# Task: String and Dataset Manipulation (10 points)

(1) Create a Pandas Series named contact that contains the following string elements:

- '101 Fulton Hall, 301 W. 14th St., Rolla, MO, 65409, (573) 341-7216, bit@mst.edu'
- '107 IDE Building, 1215 N. Pine St., Rolla, MO 65409, (573) 341-7525, ithelp@mst.edu'
- '400 W. 14th Street, Rolla, MO 65409, (573) 341-4008, library@mst.edu'

In [1]:
import pandas as pd

In [2]:
contact = pd.Series(['101 Fulton Hall, 301 W. 14th St., Rolla, MO, 65409, (573) 341-7216, bit@mst.edu',
                    '107 IDE Building, 1215 N. Pine St., Rolla, MO 65409, (573) 341-7525, ithelp@mst.edu',
                    '400 W. 14th Street, Rolla, MO 65409, (573) 341-4008, library@mst.edu'])

In [3]:
contact

0    101 Fulton Hall, 301 W. 14th St., Rolla, MO, 6...
1    107 IDE Building, 1215 N. Pine St., Rolla, MO ...
2    400 W. 14th Street, Rolla, MO 65409, (573) 341...
dtype: object

(2) Extract zip code from the contact object.

In [4]:
# Zip code is a substring that simply contains 5 decimal digits.
zip = contact.str.extract('(\d{5})', expand = True)
zip

       0
0  65409
1  65409
2  65409

(3) Extract MST email address from the contact object.

In [5]:
email = contact.str.extract('(\w+@mst.edu)', expand = True)
email

                 0
0      bit@mst.edu
1   ithelp@mst.edu
2  library@mst.edu

(4) Create a newcontact object which contains the original contact object and the zip code and email addresses extracted in (2) and (3).

Rename the columns of this newcontact object as 'Contact', 'Zip Code', and 'Email'.

Print the content of the newcontact object.

In [6]:
newcontact = pd.concat([contact,zip,email], axis = 1)
newcontact.columns = ['Concact', 'Zip Code', 'Email']
newcontact

                                             Concact Zip Code            Email
0  101 Fulton Hall, 301 W. 14th St., Rolla, MO, 6...    65409      bit@mst.edu
1  107 IDE Building, 1215 N. Pine St., Rolla, MO ...    65409   ithelp@mst.edu
2  400 W. 14th Street, Rolla, MO 65409, (573) 341...    65409  library@mst.edu

(5) Select observations in the newcontact object that contains the substring '14th' in the Contact column.

In [7]:
newcontact[newcontact.Concact.str.contains('14th')]

                                             Concact Zip Code            Email
0  101 Fulton Hall, 301 W. 14th St., Rolla, MO, 6...    65409      bit@mst.edu
2  400 W. 14th Street, Rolla, MO 65409, (573) 341...    65409  library@mst.edu